#quote {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 2rem;
}

#text {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding-bottom: 3rem;

  text-align: center;
  font-size: clamp(2rem, 3rem, 5rem);
}

#author {
  display: flex;
  align-items: center;
  justify-content: end;

  width: 100%;

  font-size: clamp(1rem, 2rem, 3rem);
}

#author span::before {
  content: "-";

  padding-right: 1rem;

  font-size: clamp(1rem, 2rem, 3rem);
}
